@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);


:root {
  --light-gray: #F9F9F9;
  --black: #212429;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-gray);
  color: var(--black);
  font-size: 10px;
	font-family: "Montserrat", sans-serif;
}


/* Header */
.header {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0 80px;
  -webkit-box-shadow: 0px 10px 13px -10px rgba(0,0,0,0.11);
  -moz-box-shadow: 0px 10px 13px -10px rgba(0,0,0,0.11);
  box-shadow: 0px 10px 13px -10px rgba(0,0,0,0.11);
  position: fixed;
  top: 0;
  left: 0;
}

.logo img {
  width: 204px;
  height: 30px;
  transition: all 0.5s ease-in-out;
}

.logo p {
  display: flex;
}

.header__menu {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.header__menu li .header__link,
.header__menu li button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 10px;
  position: relative;
  margin-left: 10px;
}

.header__menu li .header__link a,
.header__menu li button {
  color: var(--black);
}

.header__menu li button .badges {
  height: 15px;
  width: 15px;
  font-size: 9px;
  padding: 2px 2px;
  background-color: #f24949;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 12px;
  right: 0;
  bottom: 12px;
  margin: auto auto;
}
.header__menu li .header__link:hover,
.header__menu li button:hover {
  background-color: #2124291a;
}

@media only screen and (max-width: 900px) {
  .header {
    padding: 0 30px;
  }
  .logo img{
    width: 153px;
    height: 22px;
    transition: all 0.5s ease-in-out;

  }
  .header__menu li .header__link,
  .header__menu li button {
    padding: 10px 10px;
    margin-left: 10px;
  }
}


@media only screen and (max-width: 620px) {
  .header {
    display: flex;
    justify-content: center;
  }
  .logo img{
    width: 153px;
    height: 22px;
    transition: all 0.5s ease-in-out;
  }
  .header__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    -webkit-box-shadow: 0px -23px 11px -21px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px -23px 11px -21px rgba(0,0,0,0.07);
    box-shadow: 0px -23px 11px -21px rgba(0,0,0,0.07);
  }
  .header__menu li .header__link,
  .header__menu li button {
    padding: 10px 20px;
    margin-left: 5px;
  }

}


/* Button */
.button {
  display: flex;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 0 12px;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: var(--black);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

.button:disabled {
  opacity: 0.7;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.button--block {
  width: 100%;
}

.button--without-radius {
  border-radius: 0;
}

.button--shadow {
  -webkit-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.42);
  -moz-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.42);
  box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.42);
}

.button .fa-spinner {
  color: #fff;
  font-size: 18px;
  margin-left: 12px;
  animation: spinner-animation 1.2s linear infinite;
}

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Product */
.products__container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 40px;
  list-style: none;
}

.product {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  flex-grow: 1;
  flex-basis: 100%;
  max-width: 100%;
  margin: 10px 0;
}

.product .product__wrap {
  width: 100%;
  text-decoration: none;
  color: #212429;
  position: relative;
}

.product .product__promo {
  position: absolute;
  padding: 3px 8px;
  background-color: #212429;
  font-size: 10px;
  color: #ffffff;
  top: 0;
  right: 0;
  z-index: 1;
}

.product .product__image {
  height: auto;
	width: 100%;
	margin: 0;
  position: relative;
  overflow: hidden;
}

.product__image img {
  transition: transform .5s ease;
}

.product__wrap:hover .product__image img{
  transform: scale(1.1);
}

.product__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__details .details__name {
  font-size: 13px;
  padding: 0;
  margin: 6px 0;
}

.product__details .details__price {
  font-size: 12px;
}

@media only screen and (min-width: 600px) {
  .product {
    padding: 10px;
    flex-basis: 50%;
    max-width: 50%;
  }
  .row {
    padding: 0 30px;
  }
}

@media only screen and (min-width: 700px) {
  .product {
    padding: 20px;
    flex-basis: 50%;
    max-width: 50%;
  }
  .row {
    padding: 0 40px;
  }
}


@media only screen and (min-width: 920px) {
  .product {
    padding: 8px;
    flex-basis: 33%;
    max-width: 33%;
  }
}

@media only screen and (min-width: 1140px) {
  .product {
    flex-basis: 25%;
    max-width: 25%;
  }
}
