@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

:root {
  --light-gray: #F9F9F9;
  --black: #212429;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-gray);
  color: var(--black);
  font-size: 10px;
	font-family: 'Noto Sans SC', sans-serif;
}

input,
textarea,
button,
select,
a,
label,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Sans SC', sans-serif;
}

::placeholder {
  color: #dfdfdf;
}


/* Header */
.header {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0 80px;
  -webkit-box-shadow: 0px 10px 13px -10px rgba(0,0,0,0.11);
  -moz-box-shadow: 0px 10px 13px -10px rgba(0,0,0,0.11);
  box-shadow: 0px 10px 13px -10px rgba(0,0,0,0.11);
  position: fixed;
  top: 0;
  left: 0;
}

.logo img {
  width: 204px;
  height: 30px;
  transition: all 0.5s ease-in-out;
}

.logo p {
  display: flex;
}

.header__menu {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.header__menu li .header__link,
.header__menu li button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 10px;
  position: relative;
  margin-left: 10px;
}

.header__menu li .header__link a,
.header__menu li button {
  color: var(--black);
}

.header__menu li button .badges {
  height: 15px;
  width: 15px;
  font-size: 9px;
  padding: 2px 2px;
  background-color: #f24949;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 12px;
  right: 0;
  bottom: 12px;
  margin: auto auto;
}
.header__menu li .header__link:hover,
.header__menu li button:hover {
  background-color: #2124291a;
}

@media only screen and (max-width: 900px) {
  .header {
    padding: 0 30px;
  }
  .logo img{
    width: 153px;
    height: 22px;
    transition: all 0.5s ease-in-out;

  }
  .header__menu li .header__link,
  .header__menu li button {
    padding: 10px 10px;
    margin-left: 10px;
  }
}


@media only screen and (max-width: 620px) {
  .header {
    display: flex;
    justify-content: center;
  }
  .logo img{
    width: 153px;
    height: 22px;
    transition: all 0.5s ease-in-out;
  }
  .header__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    -webkit-box-shadow: 0px -23px 11px -21px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px -23px 11px -21px rgba(0,0,0,0.07);
    box-shadow: 0px -23px 11px -21px rgba(0,0,0,0.07);
  }
  .header__menu li .header__link,
  .header__menu li button {
    padding: 10px 20px;
    margin-left: 5px;
  }

}


/* Button */
.button {
  display: flex;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 0 12px;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: var(--black);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

.button:disabled {
  opacity: 0.7;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.button--block {
  width: 100%;
}

.button--without-radius {
  border-radius: 0;
}

.button--shadow {
  -webkit-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.42);
  -moz-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.42);
  box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.42);
}

.button .fa-spinner {
  color: #fff;
  font-size: 18px;
  margin-left: 12px;
  animation: spinner-animation 1.2s linear infinite;
}

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Product */
.products__container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 40px;
  list-style: none;
}

.product__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  flex-grow: 1;
  flex-basis: 100%;
  max-width: 100%;
  margin: 10px 0;
}

.product__item .product__wrap {
  width: 100%;
  text-decoration: none;
  color: #212429;
  position: relative;
}

.product__item .product__promo {
  position: absolute;
  padding: 3px 8px;
  background-color: #212429;
  font-size: 10px;
  color: #ffffff;
  top: 0;
  right: 0;
  z-index: 1;
}

.product__item .product__image {
  height: auto;
	width: 100%;
	margin: 0;
  position: relative;
  overflow: hidden;
}

.product__image img {
  transition: transform .5s ease;
}

.product__wrap:hover .product__image img{
  transform: scale(1.1);
}

.product__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__details .details__name {
  font-size: 13px;
  padding: 0;
  margin: 6px 0;
}

.product__details .details__price {
  font-size: 12px;
}

@media only screen and (min-width: 600px) {
  .product__item {
    padding: 10px;
    flex-basis: 50%;
    max-width: 50%;
  }
  .row {
    padding: 0 30px;
  }
}

@media only screen and (min-width: 700px) {
  .product__item {
    padding: 20px;
    flex-basis: 50%;
    max-width: 50%;
  }
  .row {
    padding: 0 40px;
  }
}


@media only screen and (min-width: 920px) {
  .product__item {
    padding: 8px;
    flex-basis: 33%;
    max-width: 33%;
  }
}

@media only screen and (min-width: 1140px) {
  .product__item {
    flex-basis: 25%;
    max-width: 25%;
  }
}


/* List Size */
.size__container {
  display: flex;
  flex-direction: column;
}

.size__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.size__list .size__list__item {
  margin: 0 5px;
}

.size__list .size__list__item:first-child {
  margin-left: 0;
}
.size__list .size__list__item:last-child {
  margin-right: 0;
}

.size__list__item .item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: c20enter;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  border: 1px solid #dfdfdf;
}

.size__list__item .item.item--active {
  background-color: #212429;
  border: 1px solid #212429;
}

.size__list__item .item.item--disabled {
  opacity: 0.8;
}
.size__list__item .item.item--disabled span {
  color: #dfdfdf;
}

.size__list__item .item input[type="radio"] {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  opacity: 0;
}

.size__list__item .item input[type="radio"]:disabled {
  cursor: not-allowed;
}

.size__list__item .item span {
  font-size: 16px;
  font-weight: 600;
  color: #212429;
}

.size__list__item .item.item--active span {
  color: #ffffff;
}

/* Product */
.product {
  display: flex;
  flex-direction: row;
}

.product .product__image {
  width: 500px;
  height: auto;
  position: relative;
}

.product .product__image .product__promo {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #212429;
  padding: 2px 8px;
  font-size: 12px;
  color: #ffffff;
}

.product .product__image {
  transition: all 0.5s ease-in-out;
}

.product .product__image img {
  width: 100%;
}

.product .product__info {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 16px;
}

.product .product__info .price__container {
  display: flex;
  flex-direction: row;
}

.product .product__info .product__info__name {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #212429;
}

.product .product__info .price__container {
  display: flex;
  align-items: center;
}

.product .product__info .info__price {
  font-size: 16px;
  font-weight: 600;
  color: #212429;
}

.product .product__info .info__installments {
  font-size: 15px;
  color: #a7a7a7;
  font-weight: bold;
  margin-left: 6px;
}

.product .product__info .size__container {
  display: flex;
  flex-direction: column;
  margin: 14px 0;
}

.size__container .size__title {
  font-size: 14px;
  color: #a7a7a7;
  font-weight: 400;
}

.size__container .size__error {
  color: #f24949;
  font-size: 12px;
}

@media only screen and (max-width: 900px) {
  .product .product__image {
    width: 400px;
    height: auto;
  }
}


@media only screen and (max-width: 740px) {
  .product .product__image {
    width: 280px;
    height: auto;
  }
}

@media only screen and (max-width: 540px) {
  .product {
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #ffffff;
    position: relative;
  }
  .product .product__image {
    width: 100%;
    position: inherit;
  }
  .product .product__info {
    background-color: #ffffff;
    padding: 20px;
    margin-left: 0;
  }
}

/* Drawer */
.drawer {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  background: radial-gradient(ellipse at center,#7a7a7a 0,#212429 100%);
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.drawer__side {
  height: 100%;
  width: 375px;
  background-color: #F9F9F9;
}

.drawer.drawer--visible {
  animation: slide-in 0.3s forwards;
  -webkit-animation: slide-in 0.3s forwards;
}

.drawer.drawer--closed {
  animation: slide-out 0.3s forwards;
  -webkit-animation: slide-out 0.3s forwards;
}

.drawer__side .drawer__header {
  height: 48px;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer__header .drawer__header__arrow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto 0;
  padding: 8px 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.drawer__header .drawer__header__title {
  font-size: 15px;
  font-weight: 700;
}

.drawer__header .drawer__header__arrow svg {
  font-size: 24px;
  color: #212429;
}

.drawer__side .drawer__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media only screen and (max-width: 700px) {
  .drawer__side {
    width: 100%;
  }
}

@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@keyframes slide-out {
  0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}

/* Bag */
.bag {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 48px;
}

.bag.bag--searchMode .bag__search {
  display: flex;
}

.bag.bag--searchMode .bag__remove,
.bag.bag--searchMode .bag__counter,
.bag.bag--searchMode .bag__item__col span,
.bag.bag--searchMode .bag__total__amount {
  display: none;
}

.bag.bag--searchMode .bag__list__item {
  cursor: pointer;
}

.bag .bag__search {
  display: none;
  height: 60px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  background-color: #F9F9F9;
  -webkit-box-shadow: 0px 10px 30px -20px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 10px 30px -20px rgba(0,0,0,0.23);
  box-shadow: 0px 10px 30px -20px rgba(0,0,0,0.23);
}

.bag .bag__search input{
  height: 36px;
  border-radius: 4px;
  border: 1px solid #7a7a7a;
  width: 100%;
  padding: 0 8px;
  font-weight: 600;
}

.bag .bag__total__amount {
  height: 60px;
  width: 100%;
  background-color: #212429;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  padding: 0 16px;
  font-size: 15px;
  font-weight: 600;
}

.bag__empty,
.bag__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 10px;
  flex:1;
}

.bag__list {
  overflow-y: auto;
  list-style: none;
}

.bag__empty {
  justify-content: center;
  align-items: center;
}

.bag__empty span {
  font-size: 15px;
  color: #7a7a7a;
}

.bag__empty .circle__cart {
  padding: 30px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bag__empty svg {
  font-size: 30px;
  color: #7a7a7a;
}

.bag__list .bag__list__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom:  1px solid #ddd;
  padding: 20px 0;
}

.bag__list .bag__list__item:last-child {
  border-bottom:  none;
  padding: 20px 0;
}

.bag__list .bag__list__item .bag__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.bag__list__item .bag__item .bag__item_product {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.bag__list__item .bag__item .bag__item_product figcaption {
  width: 80px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bag__list__item .bag__item .bag__item_product figcaption {
  transition: all 0.3s ease-in-out;
}

.bag__list__item .bag__item .bag__item_product img {
  width: 100%;
  height: auto;
}

.bag__list__item .bag__item .bag__item_product .bag__item__price,
.bag__list__item .bag__item .bag__item_product .bag__item__col {
  display: flex;
  flex-direction: column;
}

.bag__item__col {
  margin-left: 12px;
}

.bag__item__col .bag__counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 12px;
}

.bag__counter button {
  height: 28px;
  width: 28px;
  border: 1px solid #212429;
  background-color: transparent;
  color: #212429;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bag__counter h1 {
  font-size: 17px;
  font-weight: 400;
  color: #212429;
}

.bag__counter button:hover {
  background-color: #212429;
  color: #ffffff;
}

.bag__counter button:first-child {
  margin-right: 12px;
}

.bag__counter button:last-child {
  margin-left: 12px;
}

.bag__item__price {
  min-width: 80px;
  margin-left: 20px;
}

.bag__item .bag__item__price h3,
.bag__item_product .bag__item__col h3 {
  font-size: 13px;
  font-weight: 600;
}

.bag__item_product .bag__item__col h3 {
  text-transform: uppercase;
}

.bag__item .bag__item__price h4,
.bag__item_product .bag__item__col span {
  font-size: 13px;
  font-weight: 400;
  color: #a7a7a7;
}

.bag__item_product .bag__item__col span {
  margin-top: 8px;
}

.bag__list__item .bag__remove {
  width: 200px;
  background-color: transparent;
  border: none;
  margin-top: 16px;
  color: #f24949;
  cursor: pointer;
}


@media only screen and (max-width: 700px) {
  .bag__list__item .bag__item .bag__item_product figcaption {
    width: 200px;
  }

  .bag__item .bag__item__price h3,
  .bag__item_product .bag__item__col h3 {
    font-size: 16px;
  }

  .bag__item .bag__item__price h4,
  .bag__item_product .bag__item__col span {
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .bag__list__item .bag__item .bag__item_product figcaption {
    width: 80px;
  }

  .bag__item .bag__item__price h3,
  .bag__item_product .bag__item__col h3 {
    font-size: 13px;
  }

  .bag__item .bag__item__price h4,
  .bag__item_product .bag__item__col span {
    font-size: 13px;
  }

  .bag .bag__total__amount {
    font-size: 15px;
  }
}
