.header {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0 80px;
  -webkit-box-shadow: 0px 10px 13px -10px rgba(0,0,0,0.11);
  -moz-box-shadow: 0px 10px 13px -10px rgba(0,0,0,0.11);
  box-shadow: 0px 10px 13px -10px rgba(0,0,0,0.11);
  position: fixed;
  top: 0;
  left: 0;
}

.logo img{
  width: 204px;
  height: 30px;
  transition: all 0.5s ease-in-out;
}

.header__menu {
  list-style: none;
  display: flex;
  flex-direction: row;
}


.header__menu li button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 10px;
  position: relative;
  margin-left: 10px;
}

.header__menu li button .badges {
  height: 13px;
  width: 13px;
  font-size: 9px;
  padding: 2px 2px;
  background-color: #f24949;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 12px;
  right: 0;
  bottom: 0;
  margin: auto auto;
}

.header__menu li button:hover {
  background-color: #2124291a;
}

@media only screen and (max-width: 900px) {
  .header {
    padding: 0 30px;
  }
  .logo img{
    width: 153px;
    height: 22px;
    transition: all 0.5s ease-in-out;

  }
  .header__menu li button {
    padding: 10px 10px;
    margin-left: 10px;
  }
}


@media only screen and (max-width: 620px) {
  .header {
    display: flex;
    justify-content: center;
  }
  .logo img{
    width: 153px;
    height: 22px;
    transition: all 0.5s ease-in-out;
  }
  .header__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    -webkit-box-shadow: 0px -23px 11px -21px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px -23px 11px -21px rgba(0,0,0,0.07);
    box-shadow: 0px -23px 11px -21px rgba(0,0,0,0.07);
  }
  .header__menu li button {
    padding: 10px 10px;
    margin-left: 5px;
    transition: all 0.5s ease-in-out;
  }

}
